<!DOCTYPE html>
<html>
  <head>
    <title>Turt.le</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/models/question.js"></script>
    <script src="/javascripts/models/answer.js"></script>
    <script src="/javascripts/views/questionView.js"></script>
    <script src="/javascripts/views/answerView.js"></script>
  </head>
  <body>
<<<<<<< HEAD
<!--Index Page -->
  <!-- <div class="main">
      <div class="main-header">
        <div class="questions">Questions</div>
        <div class="sort">Sort by: Newest/Votes</div>
      </div>

    <div class="entry">
      <div class="votes">3 votes</div>
      <div class="answers">8 answers</div>
      <div class="question-title">How do I create user authentication on my Express app?</div>
      <div class="categories">express, javascript</div>
      <div class="date-user">asked 30 sec ago by javabro</div>
    </div>
    <div class="entry">
      <div class="votes">3 votes</div>
      <div class="answers">8 answers</div>
      <div class="question-title">How do I create user authentication on my Express app?</div>
      <div class="categories">express, javascript</div>
      <div class="date-user">asked 30 sec ago by javabro</div>
    </div>
    <div class="entry">
      <div class="votes">3 votes</div>
      <div class="answers">8 answers</div>
      <div class="question-title">How do I create user authentication on my Express app?</div>
      <div class="categories">express, javascript</div>
      <div class="date-user">asked 30 sec ago by javabro</div>
=======
<!-- Index Page -->
  <div class="main">
    <div class="main-header">
      <div class="questions">Questions</div>
      <div class="sort">Sort by: Newest/Votes</div>
>>>>>>> c2c116f5a04cc760c9776466a3f07960478f98f6
    </div>

    <div class="entry-container">
      <div class="entry">
        <div class="votes"></div>
        <div class="num-answers"></div>
        <div class="entry-title"></div>
        <div class="categories"></div>
        <div class="date-user"></div>
      </div>
    </div>

  </div>

<!-- New Question Page -->

  <form method="post" action="/questions" class="new-question" id="new-question">
    <p class="new-question-header">
      Ask a question
    </p>

    <input type="text" placeholder="Title" name="title" id="title"> <br>

    <textarea name="content" form="new-question" placeholder="What's your question?" id="content"></textarea> <br>

    <input type="text" placeholder="Category (optional)" name="category" id="category"> <br>

    <input type="submit" value="Submit" id="submit">
  </form>

<!-- Question Show

<!-- <div class="question-title">
    Question title
</div>

<div class="timestamp">
  Timestamp
</div>

<div class="question-container">

  <img class="question-score" src="images/score.png"/>

  <p class="question-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

</div>

<div class="num-answers">
  # answers
</div>

<div class="answer-container">

  <div class="answer">
      <div class="answer-score">
        <img src="images/score.png"/>
      </div>
      <p class="answer-content">
        Answer content
      </p>
  </div>

  <div class="answer">
      <div class="answer-score">
        <img src="images/score.png"/>
      </div>
      <p class="answer-content">
        answer content
      </p>
  </div>

</div>


<form class="new-answer" id="new-answer">
  <textarea name="content" form="new-answer" placeholder="Add your answer" id="new-answer-content" rows="8" cols="90"></textarea>
  <input type="submit" value="Submit" id="submit">
</form>
 -->

  </body>
</html>









 <!-- <div class="question" ></div> -->


<!-- <ul class="questions2">
   {{#each question}}
     <li>{{this}}</li>
   {{/each}}
 </ul> -->



 <!--
  <div class="question"></div>
  <div class="answer"></div>

  <ul class="questions">
    {{#each question}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul> -->
