<div class="browse">
  <h4>Search</h4>
  <form id="search">
    <input type="search" placeholder="Search.." id="web-search">
    <input type="submit" value="Submit">
  </form>
</div>

 <div class="question" ></div>

<!-- <ul class="questions2">
   {{#each question}}
     <li>{{this}}</li>
   {{/each}}
 </ul> -->
