<!DOCTYPE html>
<html>
  <head>
    <title>Turt.le</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/models/question.js"></script>
    <script src="/javascripts/models/answer.js"></script>
    <script src="/javascripts/views/questionView.js"></script>
    <script src="/javascripts/views/answerView.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
<<<<<<< HEAD

    <header><h1>Turt.le foo</h1></header>
    <div class='new_question'>
      <p id="ask_question">Ask a Question</p>
      <div id="question_form">
      <form method="post" action="/questions">
      <h3><input type="text" name="title" placeholder="Title of Question"></h3>
      <p><textarea name="content" placeholder="Explain your question i.e. what did you try, what did you expect"></textarea></p>
      <h3><input type="text" name="category" placeholder="Tag"></h3>

      <button type="submit">Submit</button>
      </form>
    </div>

    </div>


    <div class='new_answer'>
      <p id="share_answer">Answer</p>
      <div id="answer_form">
      <form method="post" action="/answers">
      <p><textarea name="content" placeholder="Provide a clear explanation"></textarea></p>
      <h3><hidden= "question_id" ></h3>

      <button type="submit">Submit</button>
      </form>
    </div>

    </div>







    {{{ body }}}
=======
>>>>>>> walter

    {{{body}}}
  </body>
</html>
