/*********************Index Page***********************/
.question_link {
 list-style-type: none;
}

* {
  box-sizing: border-box;
}

div.banner {
  width: 100%;
  border-bottom: 1px solid #979797;
}

.header{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

h1 {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: .5em;
  font-family: helvetica;
  font-weight: bold;
  font-size: 4em;
}

.logo {
  float: left;
  width: 13em;
  margin-right: 6em;
  margin-left: 4em;
}

p {
  font-family: Helvetica-Light;
  line-height: 2em;
  font-size: 24px;
  margin-top: -1em;
}

nav {
  width: 100%;
  margin-top: 1em;
}

.ask-button,
.categories-button {
  float: left;
  background: #F6201D;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: Helvetica-Light;
  font-size: 32px;
  color: #FFFFFF;
  margin-left: 1.5em;
  margin-right: 1em;
  height: 2.2em;
  width: 12em;
  transition: background-color 1s;

}
.ask-button:hover,
.categories-button:hover {
  background-color: green;

}

form.search input {
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: Helvetica-Light;
  font-size: 32px;
  color: #000000;
  height: 2.2em;
  width: 12em;
  text-align: center;
  margin-left: 1.5em;
}

.main {
  width: 100%;
  font-family: Helvetica-Light;
}

.main-header>div {
  display: inline;
  font-family: Helvetica-Light;
  font-size: 32px;
  margin: 0 0 0 10em;
}


.entry>div {
  display: inline-block;
  font-size: 24px;
  margin: 1em;
  max-width: 18em;
}

/***********New Question Page*********************/

p.new-question-header {
  font-size: 32px;
  margin-left: 1.4em;
}


.new-question input,
textarea {
  margin-left: 3.8em;
  margin-bottom: 2em;
}

.new-question #title {
  width: 30em;
  height: 3em;
}

.new-question #content {

}

.new-question #category {
  width: 30em;
  height: 3em;

}

.new-question #submit {
  margin-left: 1.3em;
  background: #F6201D;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: Helvetica-Light;
  font-size: 32px;
  color: #FFFFFF;
  height: 2.2em;
  width: 12em;
}

/******************Question Show View******************/


.question-title {
  margin-left: 3.4em;
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1em;
}

.timestamp {
  margin-bottom: 1em;
  display: inline-block;
  margin-left: 4em;
  font-size: 24px;
  font-family: Helvetica-Light;
}

.question-container {
  margin: 0 3em;
}

.question-score {
  display: inline;
  float: left;
  margin-right: 2.5em;
  margin-bottom: 4em;
}

.question-content {
  display: inline;
  text-align: justify;
  max-width: 24em;

}

.num-answers {
  font-size: 32px;
  font-family: Helvetica-Light;
  margin-left: 3.7em;
  margin-top: 1em;
}

.answer-container {
  margin-left: 3em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}


.answer-score {
  float: left;
  margin-right: 2.5em;
  margin-bottom: 4em;
}

.answer-content {
  text-align: justify;
  font-family: Helvetica-Light;
  font-size: 24px;
}

textarea#new-answer-content {
  font-size: 24px;
  margin-left: 5em;
}

input#submit {
  margin-left: 1.3em;
  background: #F6201D;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: Helvetica-Light;
  font-size: 32px;
  color: #FFFFFF;
  height: 2.2em;
  width: 12em;

}
