<!DOCTYPE html>
<html>
  <head>
    <title>Turtle</title>
    <link rel="stylesheet" href="stylesheets/application.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
    <!-- <script src="javascripts/models/answer"></script>
    <script src="javascripts/models/question"></script>
    <script src="javascripts/views/answerView"></script>
    <script src="javascripts/views/questionView"></script> -->
  </head>
  <body>
    <header><h1>Turtle</h1>
    </header>
    <main>
      <div class="question">
      </div>
    </main>
  </body>
</html>
